.hook {
  width: 100%;
  height: 100%;
  text-align: center;
}

.hook-nav {
  border-bottom: 1px solid #ddd;
}

.hook-nav > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hook-nav .nav-link {
  padding: 7px;
}

.nav-link:hover {
  background-color: #e0dcdc !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #e0dcdc !important;
  color: #5a58ca;
}

.hook-main {
  padding: 50px;
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hook-main .btn {
  width: auto;
}