.immerList {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.immerList>li {
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.immerList>li:last-child {
  border: none;
}

.immerList>li>p {
  margin: 0;
}